<h1>
    <%= title%>
</h1>

<table>
    <thead>
        <tr>
            <%for(let col of cols){%>
                <th>
                    <%=col%>
                </th>
            <%}%>
        </tr>
    </thead>
    <tbody>
        <%for(let data of listData){%>
            <tr>
                <%for(let p in data){%>
                    <td>
                        <%= data[p]%>
                    </td>
                <%}%>
            </tr>
        <%}%>
    </tbody>
</table>